@font-face {
    font-family: 'ZCOOLKuaiLe';
    src: url('https://cdn.863366.xyz/gh/luobei77/luobei_fils/ZCOOLKuaiLe-Regular.woff2') format('woff2'),
        url('https://cdn.863366.xyz/gh/luobei77/luobei_fils/ZCOOLKuaiLe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

